html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh;
    grid-template-areas: 
    "header-container header-container header-container header-container header-container header-container"
    "main-container main-container main-container main-container main-container main-container"
    "footer-container footer-container footer-container footer-container footer-container footer-container"; 
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    row-gap: 2rem;
    grid-template-areas: 
    ". about-me-container about-me-container about-me-container about-me-container ."
    ". intresests-container intresests-container intresests-container intresests-container ."
    ". goal-container goal-container goal-container goal-container ."
    ". contact-forum contact-forum contact-forum contact-forum .";
    grid-area: main-container; 
}



header { 
    grid-area: header-container;
    min-height: var(--header-height); 
}
footer { grid-area: footer-container; }

#about-me-container { grid-area: about-me-container; }
#intresests-container { grid-area: intresests-container; }
#goal-container { grid-area: goal-container; }
#contact-forum-container {grid-area: contact-forum }